<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plag-Checker</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>
<body>
    <div class="form-container">

        <form action = "/plagiarism" method = "post" enctype="multipart/form-data">  
            <label for="upload" class="file-upload">Click to upload your file</label>
                <input id="upload" type="file" name="file" "/>
            <label for="submit" class="file-submit">Check Plagiarism</label>
                <input id="submit" type="submit"/>
        </form>
         
    </div>
</body>
</html>